.root {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 10px;

    h6 {
      flex-grow: 1;
      font-size: 22px;
    }
  }

  .actionCell {
    white-space: nowrap;
  }

  .image {
    display: block;
    width: 80px;
    height: 50px;
    margin-left: auto;
  }
}
