.root {
  .body {
    display: flex;
    gap: 40px;
  }

  .paperTabs {
    width: 350px;
    padding: 10px 10px 10px 0;
    height: 100%;

    button {
      align-items: baseline;
    }
  }

  .paperTab {
    width: 100%;
    padding: 20px;
  }
}
